.mypy_cache/
.pytest_cache/
venv/
.vscode/
.DS_Store
**/__pycache__/
.idea/
.env
/.ipynb_checkpoints/
/database/postgres_data/
/database/mongo_data/
/model/*
!/model/.gitkeep
/airflow/logs/*
!/airflow/logs/.gitkeep