beautifulsoup4
dash
fastapi
joblib
lxml
numpy
pandas
plotly
psycopg2-binary
pymongo
python-dotenv
python-jose
python-multipart
requests
scikit-learn
SQLAlchemy
uvicorn
imblearn
redis
matplotlib
seaborn
